<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- MIME Types Configuration -->
        <staticContent>
            <!-- Essential web file types -->
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
            <mimeMap fileExtension=".htm" mimeType="text/html; charset=utf-8" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=utf-8" />
            <mimeMap fileExtension=".txt" mimeType="text/plain; charset=utf-8" />
            
            <!-- Image types -->
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
            
            <!-- Font types -->
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            
            <!-- Flutter specific -->
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
            <mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
            
            <!-- APK files (for downloads only) -->
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
        
        <!-- URL Rewriting for SPA -->
        <rewrite>
            <rules>
                <!-- API proxy rules -->
                <rule name="Payfast Return" stopProcessing="true">
                    <match url="^api/payfastReturn$" />
                    <action type="Rewrite" url="https://us-central1-marketplace-8d6bd.cloudfunctions.net/payfastReturn" />
                </rule>
                <rule name="Payfast Cancel" stopProcessing="true">
                    <match url="^api/payfastCancel$" />
                    <action type="Rewrite" url="https://us-central1-marketplace-8d6bd.cloudfunctions.net/payfastCancel" />
                </rule>
                <rule name="Payfast Notify" stopProcessing="true">
                    <match url="^api/payfastNotify$" />
                    <action type="Rewrite" url="https://us-central1-marketplace-8d6bd.cloudfunctions.net/payfastNotify" />
                </rule>
                <rule name="Payfast Form Redirect" stopProcessing="true">
                    <match url="^api/payfastFormRedirect$" />
                    <action type="Rewrite" url="https://us-central1-marketplace-8d6bd.cloudfunctions.net/payfastFormRedirect" />
                </rule>
                
                <!-- SPA routing - redirect all non-file requests to index.html -->
                <rule name="SPA Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Security and Headers -->
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".apk" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <!-- HTTP Headers -->
        <httpProtocol>
            <customHeaders>
                <!-- PWA Security Headers -->
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                
                <!-- CORS for PWA -->
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                
                <!-- Service Worker support -->
                <add name="Service-Worker-Allowed" value="/" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Compression -->
        <httpCompression>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        
        <!-- Default Document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>