<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Add MIME type for APK files -->
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
        
        <!-- Allow APK file downloads -->
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".apk" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <!-- Set proper headers for APK downloads -->
        <httpProtocol>
            <customHeaders>
                <add name="Content-Disposition" value="attachment" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
